# DeepSeek API       Deepseek and Moonshot must be used for generating ppt  !!!
DEEPSEEK_API_BASE=https://api.deepseek.com/v1


# MOONSHOT_API_KEY   Deepseek and Moonshot must be used when generating ppt !!!

MOONSHOT_API_KEY=your_key

# Default Provider (deepseek, openai_compatible, ollama, lm_studio, kimi)
DEFAULT_PROVIDER=deepseek

# More providers will be added soon
NODE_ENV=production


# You must fill in the configuration Alibaba Cloud oss, otherwise an error will be reported when generating thumbnails

ALICLOUD_OSS_ENDPOINT=oss-xxx
ALICLOUD_ACCESS_KEY_ID=xxxx
ALICLOUD_ACCESS_KEY_SECRET=xxxx
ALICLOUD_OSS_BUCKET=xxxx
ALICLOUD_OSS_REGION=xxxx

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=localsite_ai




# Other possible services for the custom API:
# OPENAI_COMPATIBLE_API_BASE=https://api.together.xyz/v1    # Together AI
# OPENAI_COMPATIBLE_API_BASE=https://api.groq.com/openai/v1 # Groq
# OPENAI_COMPATIBLE_API_BASE=https://api.anthropic.com/v1   # Anthropic

# Ollama Configuration (Local AI models)
OLLAMA_API_BASE=http://localhost:11434

# LM Studio Configuration (Local AI models)
LM_STUDIO_API_BASE=http://localhost:1234/v1
